  .custom-block {
    width: 1128px;
    height: 680px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 12px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
  }

  .custom-block-edit {
    width: 1128px;
    height: 680px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 12px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
  }

  .custom-block .poster_image {
    position: absolute;
    left: 0;
    top: 0;
    width: 552px;
    height: 680px;
    border-radius: 20px 0 0 0;
    object-fit: cover;
  }

  .custom-block-edit .poster_image {
    position: absolute;
    left: 0;
    top: 0;
    width: 552px;
    height: 680px;
    border-radius: 20px 0 0 0;
    object-fit: cover;
  }

  

  .custom-content {
    position: absolute;
    left: 552px;
    top: 0;
    width: calc(100% - 552px);
    height: 148px;
    background-color: #FFFFFF;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-content img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 2px;
    border: 2px solid black;
  }

  .custom-content p {
    margin: 0;

    font-size: 56px;
  }
  .small-content {
  width: 576px;
  height: 2px;
  background-color: #FFFFFF;
  margin-top: 140px;
  left: 552px;
  }
  .mini-avatar{
    width: 40px;
    height: 40px;
    margin-inline: 5px;
  }

  .mini-nickname{
    margin-left: 2px;
  }
  .small-content img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  float: left;
  }

  .inner {
  width: 576px;
  height: 500px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-top: 160px;
  margin-left: 540px;
}

.button-container {
  width: 1128px;
  height: 60px;
  border-radius: 20px;
}

.button-container .btn {
  width: 1128px;
  height: 60px;
  border-radius: 0 0 40px 40px;
}

.comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.comments-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.comment {
  width: 1128px;
  height: 104px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto; 
  overflow: hidden; 
}

.comment .avatar {
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-right: 10px;*/ 
}

.comment img {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  border: 2px solid black;
  float: left; 
}

.comment .avatar img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.comment .username {
  width: 112px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment .is_comment {
  width: 907px;
  height: 104px;
  display: flex;
  align-items: center;
}

.comment .button-container {
  width: auto;
  height: 104px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  background-color: #DC3545; 
  color: white; 
  font-weight: bold;
  border-radius: 0 20px 20px 0;
}

.comment .button-container .btn {
  width: auto;
  height: 104px;
  color: white; 
  border-radius: 0 20px 20px 0;
}




.your_comment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 1px;
}

.your_comment input {
  width: 1080px;
  height: 60px;
  background-color: #f2f2f2; 
  border: none; 
  border-radius: 10px 0 0 10px; 
  padding: 8px;
  color: #555; 
}


.image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  background-color: #f2f2f2; 
  border-radius: 0 10px 10px 0; 
  height: 60px;
}

.image-button img {
  width: 24px; /* Укажите желаемый размер картинки */
  margin-right: 8px; /* Опциональное расстояние между картинкой и текстом */
}




